/* adds background image to the html pages behind content */
/* modified from: https://css-tricks.com/perfect-full-page-background-image/ */
.fixed_background {
    background: url(../images/camera_background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

/* font sizing and style classes */
.site_title {
    font-family: "Playfair Display";
    /*font-size: 60px;*/
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

.project_browse_title {
    font-family: "Playfair Display";
    font-size: 45px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    justify-items: center;
}

.project_detail_title {
    font-family: "Playfair Display";
    font-size: 55px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    justify-items: center;
}

.nav_buttons {
    font-family: "Playfair Display";
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: "Playfair Display";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: "Playfair Display";
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

.project_browse_number {
    font-family: "Playfair Display";
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.6px;
}

/* text centering class */
.centered_title {
    text-align: center;
}

/* navigation bar logo font sizing and color */
.navbar .navbar-brand {
    color: white;
    font-size: 48px;
}

/* navigation bar background color and thickness*/
.navbar {
    min-height: 80px;
    background-color: black;
}

/* navigation bar logo padding and line height */
.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}